.rob {
  font-size: 3rem; /*48px*/
}
/*full screen height */
/* .image {
  min-height: 100vh; 
  width: 100%;
  background-image: url("../../assets/abstract-business-people-city-buildings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

/* .image {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #e3f2fd, #1e88e5);
} */
